   
  .col-2 {
    border-right:1px solid #d3d3d3;
    height:100vh;

  }
  .col-10 {
    height:100vh;

  }
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  .names {
    height:40px !important;
  }
  .sidebar {
    width: 100%;
    padding: 20px;
  }
  
  .sidebar-item {
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 7px #d3d3d3;
    margin:10px 0;
  }
  .index {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #a9a9a9;
    height: 50px;
  }
 
  .sidebar-item.active {
    background-color: yellow;
  }
  .sidebar-item:hover {
    background-color: #013d79;
    color:white;
   box-shadow: 0 0 7px #d3d3d3;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .header-item {
    padding: 10px;
  }
  .table-stock tr td {
    font-size: 15px;
  }
  .portfolio .table-stock {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  .table-row:nth-child(odd) {
    background-color: #f7f7f7;
  }  
  .table-row:nth-child(even) {
    background-color: white;
  }
  .table-row:hover {
    background-color: #fff6d6;
    cursor: pointer;
  }
  .table-row {
    height:50px
  }
  .portfolio th, .portfolio td {
    padding: 10px;
    text-align: left;
    border-style: none;
  }
        .navs.active {
          color:#013d79 !important;
        }