   
  .col-2 {
    border-right:1px solid #d3d3d3;
    height:100vh;

  }
  .login-form {
    background: #0023ff42;
    height:100vh;
}
  .col-10 {
    height:100vh;

  }
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  .names {
    height:40px !important;
  }
  .sidebar {
    width: 100%;
    padding: 20px;
    position: sticky;
  }
  
  .sidebar-item {
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 7px #d3d3d3;
    margin:10px 0;
    height:45px;
    p {
      font-size: 13px;
    }
  }
  .index {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #a9a9a9;
    height: 50px;
  }
 
  .sidebar-item.active {
    background-color: yellow;
  }
  .sidebar-item:hover {
    background-color: #013d79;
    color:white;
   box-shadow: 0 0 7px #d3d3d3;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  .plus {
    background-color: #043d75;
    height: 24px;
    width: 24px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    line-height: 23px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
  }
  .header-item {
    padding: 10px;
  }
  .table-stock {
td, th{
    font-size: 12px;
  }}
  .portfolio .table-stock {
    width: 100%;
top:0;
position: sticky;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  .table-row:nth-child(odd) {
    background-color: #f7f7f7;
  }  
  .table-row:nth-child(even) {
    background-color: white;
  }
  .table-row:hover {
    background-color: #fff6d6;
    cursor: pointer;
  }
  .table-row {
    height:50px;
  }
  .portfolio th, .portfolio td {
    padding: 10px;
    text-align: left;
    border-style: none;
  }
        .navs.active {
          color:#013d79 !important;
        }

        // Sidebar
        .preview {
          p, span {
            font-size:14px;
          }
          p{
            color:#022b54;
            font-weight: 600;
          }
        }
       textarea {
        resize:none;
        width:auto
       }
       .popup {
.modal-dialog-scrollable {
  width: 5px; /* Width of the scrollbar */
}
        .label-name{
        min-width:200px;
        margin-right:15px
       }
      }

      // navbar
      .text {
        font-size: 14px;
      }
        .navbar {
          background-color: #022b54;
        .nav-link, .btn {
          text-decoration: none;
        color:white !important; 

        }
      }