.login-signup {
  background-image: url('../images/img.jpg');
  background-size: cover;
  background-position:bottom;
  background-repeat: no-repeat;
  height:400px;
  color:white;
}
.content-container {
  margin-top: -100px;

.card {
  height: 188px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  border-radius: 4px;
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 5;
  h3 {
      color: #64677a ;
      letter-spacing: -.67px;
      font-family: Poppins;
      font-size: 28px;
      font-weight: 500;
  }
 p {
  text-align: start;
  font-family: Source Sans Pro;
  font-size: 18px;
  color: #565656 ;
 }
 &:hover {
  background-color: #d8dae5 !important;
  cursor: pointer;
  h3 {
      color:#022b54 !important;
  }
 }
}
}
.signup-text {
  padding-right:150px;
}
.login-signup {
  .card {
      background-color: #fff;
  height: auto;
  border-radius: 4px;
  max-width: 462px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  padding: 32px ;
  position: relative;
input {
  width:100%;
}
button {
align-items: center;
width:150px;
}
  }
}